/* myStyle.css */
body {
  background-color: #333;
  color: rgb(250,250,250);
  padding: 20px;
}

h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}

.pixelated {
  image-rendering: pixelated;
}

.resize {
  width: 45%;
  clear: none;
  float: left;
   
  &:last-of-type {
    float: right;
  }
  
  img {
    width: 100%;
  }
}

///////////////////////////////

img {
  margin-bottom: 20px;
  max-width: 100%;
}
